# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.env
.venv

# IDE specific files
*.iws
*.iml
*.ipr

# Other
.DS_Store
Thumbs.db
